.filter-container {
  display: flex;
  flex-direction: column;
  height: auto;
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  align-items: left;
}

.filter-title {
  font-family: var(--font-roboto);
  font-size: var(--font-sizes-regular);
  color: var(--color-dark-gray);
  font-size: small;
  margin-left: 20px;
  margin-bottom: 5px;
}

.filter-category-title {
  font-family: var(--font-roboto);
  font-size: var(--font-sizes-regular);
  color: var(--color-dark-gray);
  font-size: small;
  margin-left: 20px;
}

.filter-input-filed-container {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
  margin-top: 15px;
  margin-left: 20px;
}
